<section class="py-10 md:w-4/5 w-11/12 mx-auto ">
    <div class="grid grid-row-2 md:grid-cols-2 gap-10 md:gap-28">
        <div class="flex gap-6">
            <div class="grid grid-row-2 gap-6">
                <div class="p-5 flex flex-col justify-center gap-1 bg-secondary-green text-white rounded-lg">
                    <p class="text-5xl font-bold">30</p>
                    <span class="text-xl">años de <br> experiencia</span>
                </div>
                <div class="p-5 flex flex-col justify-center gap-1 bg-secondary-teal text-white rounded-lg">
                    <p class="text-5xl font-bold">+10K</p>
                    <span class="text-xl">pacientes<br> satisfechos</span>
                </div>
            </div>
            <div class="flex flex-col flex-auto items-center">
                <img class="rounded-lg w-full h-full object-cover" src="https://www.dentalkrebs.com/imgs/freddykrebs.webp" alt="">
            </div>
        </div>
        <div class="flex flex-col flex-auto justify-center -order-1 md:order-2">
                <h2 class="text-4xl font-bold">Dr. Freddy Krebs G.</h2><br>
                <p class="">Egresado de la Facultad de Odontología de la Universidad San Martin de Porres (USMP) en el Perú, el Dr. Freddy Krebs con Registro del Colegio Odontológico del Perú N°17692</p>
                <br>
                <p class="">Cirujano-Dentista, actualmente es el Director General de la Clínica Dental Krebs, donde atiende de manera personalizada junto a su equipo de profesionales y personal auxiliar a cada uno de sus pacientes, en el proceso de la evaluación, diagnóstico y tratamientos, con la calidez y cordialidad que lo caracteriza.Visítenos, Somos su mejor alternativa.</p>
        </div>
    </div>
</section>
