<section class="py-10 md:w-4/5 w-11/12 mx-auto ">
    <div class="grid grid-row-2 md:grid-cols-2 gap-10 md:gap-28">
        <div>
            <h2 class="text-4xl font-bold">La Mejor Tecnología a tu Servicio</h2>
            <br>
            <p>En Clínica Dental Krebs, utilizamos tecnología de punta para ofrecerte los tratamientos más avanzados y efectivos. Desde diagnósticos precisos hasta procedimientos innovadores, estamos comprometidos con tu salud dental.</p>
        </div>
        <div class="grid grid-rows-1 md:grid-cols-2 gap-6">
            <div class="">
                <img class="rounded-lg w-full h-full object-cover" src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/2022-06/periodoncista-dentista.jpg.webp?itok=UlLS78jk" alt="">
            </div>
            <div class="">
                <img class="rounded-lg w-full h-full object-cover" src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/2022-06/periodoncista-dentista.jpg.webp?itok=UlLS78jk" alt="">
            </div>
        </div>
        
    </div>
</section>