<div class="py-2 md:w-4/5 w-11/12 mx-auto">
    <div class="py-4">
        <h2 class="text-4xl font-bold">Tratamientos Dentales</h2> <br>
        <p>
            En Clínica Dental Krebs ofrecemos una amplia gama de <br>
            tratamientos dentales para cuidar y mejorar tu salud bucal.<br>
            Nuestros servicios incluyen:
        </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 ">
        <div class="bg-secondary-bluewhite hover:bg-secondary-green rounded-lg p-4 flex flex-col gap-4">
            <div class="grid grid-cols-3 text-center gap-3">
                <div class="col-span-2">
                    <img class="rounded-lg" src="https://www.dentalkrebs.com/imgs/estetica-dental.webp" alt="">
                </div>
                <div>
                    <a class="align-center text-secondary-black border-2 rounded-lg border-secondary-black p-1 block" href="">Explorar</a>
                </div>
            </div>
            <div>
                <p class="text-4xl text-secondary-black">Cosmética Dental</p><br>
                <p class="text-secondary-black">En Clínica Dental Krebs ofrecemos una amplia gama de tratamientos dentales para cuidar y mejorar tu salud bucal. Nuestros servicios incluyen:</p>
            </div>
        </div>
        <div class="bg-secondary-bluewhite rounded-lg p-4 flex flex-col gap-4">
            <div class="grid grid-cols-3 text-center gap-3">
                <div class="col-span-2">
                    <img class="rounded-lg" src="https://www.dentalkrebs.com/imgs/estetica-dental.webp" alt="">
                </div>
                <div>
                    <a class="align-center text-secondary-black border-2 rounded-lg border-secondary-black p-1 block" href="">Explorar</a>
                </div>
            </div>
            <div>
                <p class="text-4xl text-secondary-black">Blanqueamiento Dental</p><br>
                <p class="text-secondary-black">Nuestro blanqueamiento dental es rápido y efectivo, aclarando varios tonos en una sola cita. ¡Disfrute de dientes blancos y hermosos hoy mismo!</p>
            </div>
        </div>
        <div class="bg-secondary-bluewhite rounded-lg p-4 flex flex-col gap-4">
            <div class="grid grid-cols-3 text-center gap-3">
                <div class="col-span-2">
                    <img class="rounded-lg" src="https://www.dentalkrebs.com/imgs/estetica-dental.webp" alt="">
                </div>
                <div>
                    <a class="align-center text-secondary-black border-2 rounded-lg border-secondary-black p-1 block" href="">Explorar</a>
                </div>
            </div>
            <div>
                <p class="text-4xl text-secondary-black">Blanqueamiento Dental</p><br>
                <p class="text-secondary-black">Obtenga una sonrisa deslumbrante en poco tiempo. Logramos armonía en la textura, forma, color y tamaño de sus dientes y encías. ¡Diseñamos su sonrisa!</p>
            </div>
        </div>
    </div>
</div>